.done {
  text-decoration: line-through;
}

.checkbox {
  margin-right: 15px;
}

#titleDiv {	
	white-space: pre-wrap;
	word-wrap: break-word;
	background-color: #282c34;
	color: #ccc;
	font-size: 30px;
	margin-left: 0px;
	font-family: Verdana, sans-serif;
	max-width: 60vw;
}

#titleArea {
	border: none;
	background-color: #282c34;
	color: #ccc;
	outline: none;
	vertical-align: bottom;
	font-size: 30px;
	font-family: Verdana, sans-serif;	
}

.leftSide {
	display: flex;
	align-items: center;
}

.controls {
	display: -webkit-box;
	flex-direction: row;
}

.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #282c34;
	padding: .5rem 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: .5rem;
	min-width: 50vw;
	min-height: 39px;
	max-width: 70vw;
	box-shadow: 0px 13px 30px -15px #000000;
}
  
.arrows {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
} 

.arrowBtn {
	background-color: #282c34;
	border: none;
}

.arrow {
	cursor: pointer;
	border: solid  #fff;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.editBtn {
	margin-right: 10px;
	background: #37496e;
	color: #fff;
	border: none;
	cursor: pointer;
}

.deleteBtn {
	cursor: pointer;
	background-color: brown;
	border-radius: 50%;
	color: #fff;
	border: none;
}
