.add-field {
	display: flex;
	justify-content: center;
	align-items: center;
}

textarea {
	width: 400px;
	margin-right: 10px;
	flex-basis: 80%;
	max-height: 40px;
	border: 4px double #37496e;
	resize: none;
	overflow: hidden;
}

.addBtn {
	appearance: none;
	border-radius: 5px;
	background: #37496e;
	color: #fff;
	padding: 8px 16px;
	font-size: 16px;
	flex-basis: 20%;
	max-height: 60px;
}
