.header {
    background-color: #282c34;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
  }
  
.wrapper {
  background-color: #282c34;
  display: flex;
  font-family: Verdana, sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  margin: 0 ;
}

.task {
  border: 1px solid white;
}

.done {
  text-decoration: line-through;
}
  
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: .5rem;
  list-style-type: none;
}

.btn {
  background-color: brown;
  border-radius: 50%;
  color: #fff;
  border: none;
}