.header {
  background-color: #282c34;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}
  
.wrapper {
  background-color: #282c34;
  display: flex;
  font-family: Verdana, sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ccc;
  margin: 0;
}
